#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "gDriver Contributors"
            VALUE "FileDescription",  "gDriver Shell Extension"
            VALUE "FileVersion",      "0.1.0.0"
            VALUE "InternalName",     "gdriver_shell"
            VALUE "OriginalFilename", "gdriver_shell.dll"
            VALUE "ProductName",      "gDriver"
            VALUE "ProductVersion",   "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
